<footer class="py-4 mt-5 bg-body-tertiary text-body-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <h5>Navegação</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/" class="text-reset text-decoration-none">Home</a>
          </li>
          <li>
            <a href="/admin" class="text-reset text-decoration-none">
              Painel Administrativo
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h5>Contato</h5>
        <ul class="list-unstyled">
          <li><strong>Nome:</strong> O Criador</li>
          <li><strong>Telefone:</strong> (XX) 9XXXX-XXXX</li>
          <li><strong>Email:</strong> name@domain.com</li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="text-center">
      <small>
        &copy; <%= new Date().getFullYear() %> Meu Site. Todos os direitos
        reservados.
      </small>
    </div>
  </div>
</footer>
