name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v2

    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      env:
        ADMIN_PASS: ${{ secrets.ADMIN_PASS }}
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: 22
        envs: ADMIN_PASS
        script: |
          # Entra na pasta do projeto
          cd ~/meu-site-carrossel
          
          # Puxa as atualizações do GitHub
          git pull origin main

          # Cria o arquivo .env usando a senha do GitHub
          echo "ADMIN_PASS=$ADMIN_PASS" > .env
          
          # Instala dependências novas (caso tenha adicionado algo)
          npm install
          
          # Reinicia o servidor para pegar as mudanças
          pm2 restart meu-site-carrossel